kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 50051
        hostPort: 10051
        protocol: TCP
  - role: worker
    extraPortMappings:
      - containerPort: 50052
        hostPort: 10052
        protocol: TCP
  - role: worker
    extraPortMappings:
      - containerPort: 50053
        hostPort: 10053
        protocol: TCP